.image-13-icon1 {
  width: 679px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.dpannage2,
.recyclage1,
.rparation,
.tutoriels1 {
  margin: 0;
  height: 118px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dpannage2 {
  flex: 1;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.recyclage1,
.rparation,
.tutoriels1 {
  cursor: pointer;
}
.rparation,
.tutoriels1 {
  flex: 1;
}
.recyclage1 {
  width: 251px;
  flex-shrink: 0;
}
.onglets {
  flex: 1;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 0;
  box-sizing: border-box;
  gap: 23px;
  max-width: 100%;
}
.bandeau {
  width: 1122px;
  flex-direction: row;
}
.bandeau,
.content-wrapper,
.header1,
.main-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content-wrapper {
  align-self: stretch;
  flex-direction: row;
}
.header1,
.main-content {
  box-sizing: border-box;
}
.main-content {
  flex: 1;
  flex-direction: column;
  padding: 69px 0 0;
}
.header1 {
  align-self: stretch;
  border-radius: 25px 25px 0 0;
  background-color: #7baeed;
  flex-direction: row;
  padding: 0 24px 0 0;
  gap: 44px;
  text-align: center;
  font-size: 64px;
  color: #000;
  font-family: Khand;
}
.image-11-icon1 {
  width: 1696px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.header,
.image-11-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.image-11-wrapper {
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.header {
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.main-carousel-child {
  height: 1080px;
  width: 1920px;
  position: relative;
  background-color: #ffcf58;
  display: none;
  max-width: 100%;
}
.slides-box-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.arrow-left-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
}
.click-area2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
}
.dot-indictaor-11 {
  height: 16px;
  width: 16px;
  position: relative;
}
.dot-indictaor-21,
.dot-indictaor-31,
.dot-indictaor-41 {
  height: 12px;
  width: 12px;
  position: relative;
}
.slide-indicator1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  gap: 10px;
}
.arrow-right-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
}
.click-area3,
.slides-navigation1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
}
.slides-navigation1 {
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.carousel,
.main-carousel,
.main-content1 {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.carousel {
  width: 1496px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 64px;
  gap: 24px;
  z-index: 1;
}
.main-carousel,
.main-content1 {
  flex-direction: row;
  align-items: flex-start;
}
.main-carousel {
  flex: 1;
  background-color: #ffcf58;
  justify-content: flex-end;
  padding: 168px 178px 174px;
}
.main-content1 {
  height: 1089px;
  justify-content: flex-start;
  padding: 0 0 9px;
}
.repair-image-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-wrapper,
.repair-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.repair-image-wrapper {
  align-self: stretch;
  flex: 1;
}
.frame-wrapper {
  height: 624px;
  width: 631px;
  min-width: 631px;
  max-width: 100%;
}
.besoin-daide-pour {
  margin: 0;
  height: 406px;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 50px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.besoin-daide-pour-rparer-vos-wrapper,
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.besoin-daide-pour-rparer-vos-wrapper {
  flex: 1;
  padding: 20px 0;
  box-sizing: border-box;
  min-width: 636px;
}
.frame-div {
  position: absolute;
  top: 404px;
  left: 0;
  width: 100%;
  gap: 134px;
}
.image-23-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.repair-image-wrapper1 {
  position: absolute;
  top: 0;
  left: 454px;
  width: 944px;
  height: 414px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.frame-container {
  height: 1028px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
  max-width: 100%;
}
.body-container-inner {
  width: 1857px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 57px;
  box-sizing: border-box;
  max-width: 100%;
}
.body-container-child {
  align-self: stretch;
  height: 1080px;
  position: relative;
  background-color: #d9d9d9;
  flex-shrink: 0;
  debug_commit: 448091;
}
.background6,
.body-container {
  height: 1080px;
  box-sizing: border-box;
  max-width: 100%;
}
.body-container {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 0 34px;
  gap: 34px;
  text-align: left;
  font-size: 48px;
  color: #000;
  font-family: "Alegreya Sans";
}
.background6 {
  width: 715px;
  position: relative;
  background-color: #f674b4;
  border: 1px solid #f674b4;
  min-width: 715px;
}
.location-shape {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1d1d1d;
  border: 1px solid #000;
  box-sizing: border-box;
}
.ou-alors-localisez {
  margin: 0;
  width: 471.6px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  max-width: calc(100% - NaNpx);
  z-index: 1;
}
.location-shape-parent {
  flex: 1;
  flex-direction: row;
  padding: 3px 1px 2px;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
}
.location-input,
.location-input-inner,
.location-shape-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.location-input-inner {
  align-self: stretch;
  flex-direction: row;
}
.location-input {
  width: 492px;
  flex-direction: column;
  padding: 157px 0 0;
  box-sizing: border-box;
  min-width: 492px;
}
.background5,
.overlay-shape {
  margin: 0 !important;
  position: absolute;
}
.overlay-shape {
  height: 6px;
  width: 125px;
  top: 288px;
  left: 196px;
  border-radius: 20px;
  background-color: #de6e4b;
  z-index: 1;
}
.background5 {
  width: 1543px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  text-align: center;
}
.contactez-nous1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.background7 {
  border: 0;
  outline: 0;
  background-color: #fff;
  position: absolute;
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}
.name3 {
  margin-top: -4px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 46px;
}
.name2 {
  position: absolute;
  top: 19px;
  left: 8px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.nom-input-dark-21 {
  align-self: stretch;
  height: 44px;
  position: relative;
}
.background8 {
  border: 0;
  outline: 0;
  background-color: #fff;
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}
.background8,
.email7,
.email8 {
  position: absolute;
}
.email8 {
  margin: 0 !important;
  right: -24px;
  bottom: -12px;
  line-height: 150%;
  display: inline-block;
  min-width: 68px;
}
.email7 {
  top: 21px;
  left: 8px;
  width: 44px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.prnom-input-dark-21 {
  align-self: stretch;
  height: 44px;
  position: relative;
}
.background9 {
  border: 0;
  outline: 0;
  background-color: #fff;
  position: absolute;
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}
.e-mail1 {
  position: absolute;
  margin: 0 !important;
  right: -45px;
  bottom: -12px;
  line-height: 150%;
  display: inline-block;
  min-width: 89px;
}
.email9 {
  position: absolute;
  top: 21px;
  left: 8px;
  width: 44px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.tlphone-input-dark-31 {
  align-self: stretch;
  height: 44px;
  position: relative;
}
.background10 {
  border: 0;
  outline: 0;
  background-color: #fff;
  position: absolute;
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}
.email11 {
  position: absolute;
  margin: 0 !important;
  right: -14px;
  bottom: -12px;
  line-height: 150%;
  display: inline-block;
  min-width: 58px;
}
.email10 {
  position: absolute;
  top: 21px;
  left: 8px;
  width: 44px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.email-input-dark-41 {
  align-self: stretch;
  height: 44px;
  position: relative;
}
.background11 {
  border: 0;
  outline: 0;
  background-color: #fff;
  position: absolute;
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}
.email13 {
  position: absolute;
  margin: 0 !important;
  right: -12px;
  bottom: -12px;
  line-height: 150%;
  display: inline-block;
  min-width: 56px;
}
.email12 {
  position: absolute;
  top: 21px;
  left: 8px;
  width: 44px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.socit-input-dark-51 {
  height: 44px;
}
.content1,
.message-input-dark-21,
.socit-input-dark-51 {
  align-self: stretch;
  position: relative;
}
.message-input-dark-21 {
  border: 0;
  background-color: #fff;
  height: 150px;
  width: auto;
  outline: 0;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  padding: 18px 8px;
  font-family: "Alegreya Sans";
  font-size: 20px;
  color: #000;
}
.content1 {
  line-height: 150%;
  color: #fff;
  text-align: right;
}
.checkbox-wrapper {
  margin: 0;
  height: 17px;
  width: 16px;
}
.i-would-like {
  position: relative;
}
.newsletter-signup-dark1 {
  overflow: hidden;
  flex-direction: row;
  padding: 5px 0;
  gap: 8px;
  font-size: 12px;
  color: #fff;
  font-family: Poppins;
}
.form-content,
.input-fields1,
.left-side2,
.newsletter-signup-dark1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-fields1 {
  align-self: stretch;
  flex-direction: column;
  gap: 27.5px;
  font-size: 20px;
  color: #000;
}
.form-content,
.left-side2 {
  max-width: 100%;
}
.left-side2 {
  flex: 1;
  flex-direction: column;
  gap: 32px;
  z-index: 2;
}
.form-content {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 9px;
  box-sizing: border-box;
}
.submit-background-icon1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.submit3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
  z-index: 1;
}
.left-column,
.submit2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.submit2 {
  flex-direction: row;
  padding: 4px 34px 3px;
  position: relative;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  font-size: 20px;
  font-family: Poppins;
}
.left-column {
  width: 439px;
  flex-direction: column;
  gap: 14.5px;
  max-width: 100%;
  font-size: 64px;
  font-family: "Alegreya Sans";
}
.introduction1 {
  align-self: stretch;
  position: relative;
  font-family: Inter;
}
.maps-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.company-name,
.w-36th-st {
  position: relative;
  display: inline-block;
}
.company-name {
  font-size: 12px;
  font-weight: 600;
  color: #de6e4b;
  min-width: 100px;
}
.w-36th-st {
  min-width: 74px;
}
.street-address {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1px;
}
.ny-10018 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 45px;
}
.location1,
.street-address1,
.text {
  display: flex;
  align-items: flex-start;
}
.street-address1 {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 1px;
}
.location1,
.text {
  border-radius: 10px;
}
.text {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 6px 5px 7px;
  gap: 1px;
  z-index: 1;
}
.location1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 13px 101px;
  position: relative;
  font-size: 11px;
}
.location-icon1 {
  height: 24px;
  width: 20px;
  min-height: 24px;
}
.location-icon1,
.location-text1 {
  position: relative;
}
.location-row,
.location-row-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.location-row {
  gap: 17px;
}
.location-row-wrapper {
  padding: 0 1px;
}
.phone-icon1 {
  width: 22px;
  height: 22px;
  position: relative;
}
.phone-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.phone-number1 {
  position: relative;
  display: inline-block;
  min-width: 102px;
}
.contact-phone {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.email-icon1 {
  width: 22px;
  height: 17.6px;
  position: relative;
}
.phone-icon-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.email-text1 {
  position: relative;
  white-space: nowrap;
}
.describtion1,
.informations1,
.location-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.describtion1,
.informations1 {
  flex-direction: column;
  gap: 12px;
}
.describtion1 {
  align-self: stretch;
  gap: 28px;
}
.instagram-icon1,
.twitter-icon1 {
  height: 18.8px;
  width: 18.8px;
  position: relative;
}
.twitter-icon1 {
  width: 20.9px;
  height: 17px;
}
.twitter-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.facebook-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.youtube-icon1 {
  width: 20px;
  height: 14px;
  position: relative;
}
.right-side,
.social-media-icons1,
.youtube-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.youtube-container {
  flex-direction: column;
  padding: 3px 0 0;
}
.right-side,
.social-media-icons1 {
  flex-direction: row;
  gap: 13px;
}
.right-side {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: 68px;
  z-index: 2;
}
.company-info,
.content-area,
.desktop-16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.company-info {
  width: 416px;
  flex-direction: column;
  padding: 289px 0 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
}
.content-area,
.desktop-16 {
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
}
.desktop-16 {
  flex: 1;
  padding: 45px 68px 235px;
  box-sizing: border-box;
  position: relative;
  gap: 605px;
}
.content-area {
  align-self: stretch;
}
.div,
.repair-workshop-icon-png-repai {
  position: relative;
  display: none;
  max-width: 100%;
}
.div {
  height: 1186.8px;
  width: 1272.1px;
  transform: rotate(180deg);
}
.repair-workshop-icon-png-repai {
  height: 250px;
  width: 590px;
}
.istockphoto-1299795190-170667a-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.qualirepar-1-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-container-parent,
.qualirepar-1-wrapper {
  width: 400px;
  height: 204.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.image-container-parent {
  height: 797.5px;
  width: 565px;
  padding: 0 0 0.1px;
  box-sizing: border-box;
  gap: 175px;
  min-width: 565px;
}
.image-14-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-14-wrapper {
  align-self: stretch;
  height: 967.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper1 {
  flex: 1;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  min-width: 755px;
  max-width: 100%;
}
.content-area-inner,
.frame-parent1,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  gap: 171px;
  max-width: 100%;
}
.content-area-inner {
  flex: 1;
  flex-direction: column;
  max-width: 101%;
  flex-shrink: 0;
  z-index: 2;
}
.content-area1 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 55.4px 0 37.3px 33px;
  box-sizing: border-box;
}
.carouselcontact-certifs,
.content-area1,
.desktop-21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.carouselcontact-certifs {
  flex: 1;
  flex-direction: column;
}
.desktop-21 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  text-align: left;
  font-size: 28px;
  color: #fff;
  font-family: Poppins;
}
.footer-background {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 534px;
  right: -1920px;
  bottom: -534px;
  left: 1920px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px 25px 0 0;
  background: linear-gradient(
      rgba(217, 211, 211, 0.14),
      rgba(217, 211, 211, 0.14)
    ),
    #7baeed;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.robert-mnagers1 {
  margin: 0;
  font-weight: 500;
}
.p1 {
  margin: 0;
  font-size: 25px;
}
.robert-mnagers-02-03-04-05-06-container1 {
  align-self: stretch;
  height: 117px;
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  debug_commit: 448091;
  z-index: 1;
}
.buttons-icon4,
.buttons-icon5,
.buttons-icon6 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 4px;
  object-fit: contain;
  min-height: 40px;
}
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
}
.buttons-icon7 {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.social-icons-parent,
.social-icons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.social-icons1 {
  width: 234.7px;
  justify-content: flex-start;
  padding: 0 0 20.2px;
  box-sizing: border-box;
  gap: 8px;
  flex-shrink: 0;
  debug_commit: 448091;
  z-index: 1;
}
.social-icons-parent {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px 0 29px;
}
.brand-info {
  width: 496.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 39px;
  min-width: 496.3px;
  max-width: 100%;
}
.auto-diagnostic1,
.nos-services1,
.prendre-rendez-vous1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.items {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30.2px 0 30.3px;
  box-sizing: border-box;
  gap: 24px;
  min-width: 179px;
  z-index: 1;
}
.nos-engagements1,
.pourquoi-rparer1,
.propos1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.items1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30.2px 0 30.3px;
  box-sizing: border-box;
  gap: 24px;
  min-width: 179px;
  z-index: 1;
}
.donner-mon-appareil1,
.nous-contacter1,
.questions-frquentes1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.footer-contact-parent,
.items2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.items2 {
  align-self: stretch;
  justify-content: flex-start;
  gap: 24px;
  z-index: 1;
}
.footer-contact-parent {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 3.3px;
  box-sizing: border-box;
  min-width: 179px;
}
.navigation-items {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 47.2px;
}
.navigation-items-wrapper {
  width: 810.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 12px;
  box-sizing: border-box;
  min-width: 810.1px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  font-family: Inter;
}
.footer-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.divider,
.divider-wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.divider {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-top: 1px solid #000;
  z-index: 1;
}
.divider-wrapper {
  width: 1649.9px;
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 8px;
}
.dpannage1,
.footer1 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer1 {
  align-self: stretch;
  align-items: flex-end;
  padding: 71.1px 135px 163px 70px;
  box-sizing: border-box;
  gap: 82.7px;
  max-width: 100%;
  text-align: center;
  font-size: 64px;
  color: #000;
  font-family: Khand;
}
.dpannage1 {
  width: 100%;
  border-radius: 25px;
  background-color: #fff;
  align-items: flex-start;
  gap: 1px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1575px) {
  .frame-wrapper {
    flex: 1;
  }
  .frame-div {
    flex-wrap: wrap;
  }
  .frame-container {
    height: auto;
    min-height: 1028;
  }
  .body-container {
    height: auto;
  }
  .background6,
  .location-input {
    flex: 1;
  }
  .background5,
  .desktop-16 {
    flex-wrap: wrap;
  }
  .image-container-parent {
    flex: 1;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .brand-info,
  .navigation-items-wrapper {
    flex: 1;
  }
  .footer-content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1250px) {
  .carousel {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
  .main-carousel {
    padding: 109px 89px 113px;
    box-sizing: border-box;
  }
  .frame-div {
    gap: 67px;
  }
  .body-container-inner {
    padding-left: 28px;
    padding-right: 28px;
    box-sizing: border-box;
  }
  .body-container {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .background6 {
    min-width: 100%;
  }
  .desktop-16 {
    gap: 302px;
    padding: 29px 34px 153px;
    box-sizing: border-box;
  }
  .frame-parent1 {
    gap: 85px;
  }
  .content-area1 {
    padding-top: 36px;
    padding-bottom: 24px;
    box-sizing: border-box;
  }
  .navigation-items-wrapper {
    min-width: 100%;
  }
  .footer1 {
    gap: 41px;
    padding-left: 35px;
    padding-right: 67px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .content-wrapper {
    gap: 15px;
  }
  .header1 {
    gap: 22px;
  }
  .carousel {
    padding-top: 26px;
    padding-bottom: 26px;
    box-sizing: border-box;
  }
  .main-carousel {
    padding: 71px 44px 73px;
    box-sizing: border-box;
  }
  .frame-wrapper {
    min-width: 100%;
  }
  .besoin-daide-pour {
    font-size: 38px;
    line-height: 40px;
  }
  .besoin-daide-pour-rparer-vos-wrapper {
    min-width: 100%;
  }
  .frame-div {
    gap: 33px;
  }
  .body-container {
    gap: 17px;
  }
  .location-input {
    min-width: 100%;
  }
  .contactez-nous1 {
    font-size: 51px;
    line-height: 77px;
  }
  .company-info,
  .desktop-16 {
    padding-top: 188px;
    box-sizing: border-box;
  }
  .desktop-16 {
    gap: 151px;
    padding-top: 20px;
    padding-bottom: 99px;
  }
  .image-container-parent {
    gap: 87px;
    min-width: 100%;
  }
  .frame-wrapper1 {
    min-width: 100%;
  }
  .frame-parent1 {
    gap: 43px;
  }
  .content-area1 {
    padding-top: 23px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .brand-info {
    gap: 19px;
    min-width: 100%;
  }
  .navigation-items {
    flex-wrap: wrap;
  }
  .footer1 {
    gap: 21px;
    padding-top: 46px;
    padding-right: 33px;
    padding-bottom: 106px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .main-carousel {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .besoin-daide-pour {
    font-size: 29px;
    line-height: 30px;
  }
  .frame-div {
    gap: 17px;
  }
  .contactez-nous1 {
    font-size: 38px;
    line-height: 58px;
  }
  .content1,
  .e-mail1,
  .email11,
  .email13,
  .email8,
  .name3 {
    font-size: 16px;
    line-height: 24px;
  }
  .left-side2 {
    gap: 16px;
  }
  .submit3 {
    font-size: 16px;
  }
  .right-side {
    gap: 34px;
  }
  .desktop-16 {
    gap: 76px;
  }
  .image-container-parent {
    gap: 44px;
  }
  .frame-parent1 {
    gap: 21px;
  }
  .robert-mnagers-02-03-04-05-06-container1 {
    font-size: 20px;
    line-height: 77px;
  }
  .navigation-items {
    gap: 24px;
  }
}
