.image-13-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-wrapper,
.image-13-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.image-13-wrapper {
  align-self: stretch;
  flex: 1;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  debug_commit: 448091;
  cursor: pointer;
}
.frame-wrapper {
  margin-left: -521px;
  height: 166px;
  width: 470px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-2);
  box-sizing: border-box;
  max-width: 129%;
}
.dpannage2 {
  text-decoration: none;
  height: 0;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
}
.bouton-dpannage1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-mini);
  cursor: pointer;
}
.rparations1 {
  text-decoration: none;
  height: 0;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
}
.bouton-tutoriels1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
}
.tutoriels1 {
  text-decoration: none;
  height: 0;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 115px;
}
.bouton-rparations1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
}
.recyclage1 {
  text-decoration: none;
  height: 0;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
}
.bouton-recyclage1,
.buttons {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bouton-recyclage1 {
  padding: var(--padding-xl) var(--padding-3xs);
}
.buttons {
  margin: 0;
  gap: var(--gap-25xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-khand);
}
.background-header1,
.bandeau-accueil1,
.frame-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.bandeau-accueil1 {
  width: 892px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-55xl) var(--padding-7xl) var(--padding-45xl);
  debug_commit: 448091;
  max-width: 245%;
}
.background-header1,
.frame-div {
  max-width: 100%;
}
.frame-div {
  width: 1379px;
  align-items: flex-end;
  padding: 0 var(--padding-488xl);
  gap: var(--gap-32xl);
}
.background-header1 {
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-lightskyblue);
  align-items: flex-start;
  padding: 0 var(--padding-11xl);
}
.hero-accueil1,
.image-11-icon1 {
  align-self: stretch;
  overflow: hidden;
}
.image-11-icon1 {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.hero-accueil1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-13xl) 0;
}
.desktop-6,
.slides-box-icon1 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.desktop-6 {
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.slides-box-icon1 {
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: contain;
}
.arrow-left-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
}
.click-area2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.dot-indictaor-11 {
  height: 16px;
  width: 16px;
  position: relative;
}
.dot-indictaor-21,
.dot-indictaor-31,
.dot-indictaor-41 {
  height: 12px;
  width: 12px;
  position: relative;
}
.slide-indicator1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-3xs);
}
.arrow-right-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
}
.carousel11,
.click-area3,
.slides-navigation1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.carousel11,
.slides-navigation1 {
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.carousel11 {
  height: 738px;
  width: 1250px;
  margin: 0 !important;
  position: absolute;
  top: 161.1px;
  left: 95px;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.desktop-21,
.image-23-icon {
  position: relative;
  max-width: 100%;
}
.desktop-21 {
  align-self: stretch;
  height: 1024px;
  background-color: var(--color-goldenrod);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-142xl-1) 0 var(--padding-105xl-9);
  box-sizing: border-box;
}
.image-23-icon {
  width: 924px;
  max-height: 100%;
  object-fit: cover;
}
.image-23-wrapper {
  width: 1124px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 25px var(--padding-xl) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wrapper {
  height: 538px;
  width: 579px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-31xl) 0 var(--padding-31xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.besoin-daide-pour,
.rparation-domicile {
  letter-spacing: 0.02em;
}
.besoin-daide-pour-container {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.frame-parent1,
.title {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.title {
  width: 856px;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 100px;
  box-sizing: border-box;
}
.frame-parent1 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 38px 13px;
  min-height: 948px;
}
.content-container {
  display: flex;
  padding: var(--padding-31xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.content-container,
.inner-content {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.desktop-61,
.inner-content,
.main-content {
  display: flex;
  max-width: 100%;
}
.desktop-61 {
  flex: 1;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-content {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--alegria-form);
}
.image-19-icon1 {
  width: 856px;
  height: 1024.5px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.contactez-nous1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.background5 {
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  position: absolute;
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.name3 {
  margin-top: -4px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 46px;
}
.name2 {
  position: absolute;
  top: 19px;
  left: 8px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.nom-input-dark-21 {
  align-self: stretch;
  height: 44px;
  position: relative;
  z-index: 1;
}
.background6 {
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.background6,
.email7,
.email8 {
  position: absolute;
}
.email8 {
  margin: 0 !important;
  right: -24px;
  bottom: -12px;
  line-height: 150%;
  display: inline-block;
  min-width: 68px;
}
.email7 {
  top: 21px;
  left: 8px;
  width: 44px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.prnom-input-dark-21 {
  align-self: stretch;
  height: 44px;
  position: relative;
  z-index: 1;
}
.background7 {
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  position: absolute;
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.e-mail1 {
  position: absolute;
  margin: 0 !important;
  right: -45px;
  bottom: -12px;
  line-height: 150%;
  display: inline-block;
  min-width: 89px;
}
.email9 {
  position: absolute;
  top: 21px;
  left: 8px;
  width: 44px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.tlphone-input-dark-31 {
  align-self: stretch;
  height: 44px;
  position: relative;
  z-index: 1;
}
.background8 {
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  position: absolute;
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.email11 {
  position: absolute;
  margin: 0 !important;
  right: -14px;
  bottom: -12px;
  line-height: 150%;
  display: inline-block;
  min-width: 58px;
}
.email10 {
  position: absolute;
  top: 21px;
  left: 8px;
  width: 44px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.email-input-dark-41 {
  align-self: stretch;
  height: 44px;
  position: relative;
  z-index: 1;
}
.background9 {
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  position: absolute;
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.email13 {
  position: absolute;
  margin: 0 !important;
  right: -12px;
  bottom: -12px;
  line-height: 150%;
  display: inline-block;
  min-width: 56px;
}
.email12 {
  position: absolute;
  top: 21px;
  left: 8px;
  width: 44px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.socit-input-dark-51 {
  height: 44px;
}
.content1,
.message-input-dark-21,
.socit-input-dark-51 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.message-input-dark-21 {
  border: 0;
  background-color: var(--color-white);
  height: 150px;
  width: auto;
  outline: 0;
  border-bottom: 1px solid var(--color-white);
  box-sizing: border-box;
  padding: var(--padding-lg) var(--padding-5xs);
  font-family: var(--alegria-form);
  font-size: var(--alegria-form-size);
  color: var(--color-black);
}
.content1 {
  line-height: 150%;
  color: var(--color-white);
  text-align: right;
}
.frame-input1 {
  margin: 0;
  height: 17px;
  width: 16px;
}
.minscrire-la1 {
  position: relative;
}
.newsletter-signup-dark1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0;
  gap: var(--gap-5xs);
  z-index: 1;
}
.submit-background-icon1 {
  height: 37px;
  width: 109px;
  position: relative;
  border-radius: var(--br-3xs);
  display: none;
}
.submit3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
  z-index: 1;
}
.submit2 {
  border-radius: var(--br-3xs);
  background-color: var(--color-lightskyblue);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-15xl) var(--padding-10xs);
  white-space: nowrap;
  z-index: 1;
}
.fond-arrire1,
.form,
.newsletter,
.submit-button,
.submit2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.submit-button {
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  text-align: center;
  font-size: var(--alegria-form-size);
}
.fond-arrire1,
.form,
.newsletter {
  flex-direction: column;
}
.newsletter {
  gap: var(--gap-mini-5);
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.fond-arrire1,
.form {
  max-width: 100%;
}
.form {
  width: 430px;
  gap: var(--gap-8xl-5);
  font-size: var(--alegria-form-size);
  color: var(--color-black);
}
.fond-arrire1 {
  flex: 1;
  padding: var(--padding-26xl) var(--padding-58xl) var(--padding-160xl-5);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  background-image: url(./public/image-19@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 556px;
}
.introduction1 {
  align-self: stretch;
  position: relative;
  font-family: var(--small-text);
}
.maps-icon1 {
  height: 174px;
  width: 416px;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.company-name1,
.w-36th-st1 {
  position: relative;
  display: inline-block;
}
.company-name1 {
  font-size: var(--font-size-xs);
  font-weight: 600;
  color: var(--accent-color);
  min-width: 100px;
}
.w-36th-st1 {
  min-width: 74px;
}
.street {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.ny-100181 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 45px;
}
.location1,
.street1,
.text1 {
  display: flex;
  align-items: flex-start;
}
.street1 {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.location1,
.text1 {
  border-radius: var(--br-3xs);
}
.text1 {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-8xs)
    var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 1;
}
.location1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-82xl);
  box-sizing: border-box;
  background-image: url(./public/maps@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  font-size: var(--font-size-2xs);
}
.location-icon1 {
  height: 24px;
  width: 20px;
  min-height: 24px;
}
.location-icon1,
.location-text1 {
  position: relative;
}
.icons,
.icons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icons {
  gap: var(--gap-mid);
}
.icons-wrapper {
  padding: 0 var(--padding-12xs);
}
.phone-icon1 {
  width: 22px;
  height: 22px;
  position: relative;
}
.phone-icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.phone-number1 {
  position: relative;
  display: inline-block;
  min-width: 102px;
}
.frame-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.email-icon1 {
  width: 22px;
  height: 17.6px;
  position: relative;
}
.email-icon-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.email-text1 {
  position: relative;
  white-space: nowrap;
}
.email-inner-container,
.frame-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent3 {
  gap: var(--gap-base);
}
.email-inner-container {
  align-self: stretch;
}
.instagram-icon1,
.twitter-icon1 {
  height: 18.8px;
  width: 18.8px;
  position: relative;
}
.twitter-icon1 {
  width: 20.9px;
  height: 17px;
}
.twitter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.facebook-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.youtube-icon1 {
  width: 20px;
  height: 14px;
  position: relative;
}
.social-media-icons1,
.youtube-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.social-media-icons1 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-smi);
}
.contact-info2,
.email-container,
.info-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.contact-info2,
.info-container {
  align-items: flex-start;
  gap: var(--gap-xs);
}
.info-container {
  gap: var(--gap-9xl);
  max-width: 100%;
}
.contact1,
.info {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.info {
  width: 416px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-178xl);
  min-width: 416px;
  min-height: 600px;
  font-size: var(--small-text-size);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.contact1 {
  width: 1310px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--alegria-form);
}
.image-17-icon1 {
  height: 1024px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.image-17-wrapper {
  margin-left: -802px;
  margin-bottom: -128.9px;
  width: 785px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  max-width: 148%;
  flex-shrink: 0;
}
.une-entreprise-certifie1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.une-entreprise-certifie-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.image-16-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-16-wrapper {
  align-self: stretch;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.desktop-51,
.frame-parent4 {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  width: 533.2px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-94xl);
}
.desktop-51 {
  align-self: stretch;
  height: 1024px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-178xl-1) var(--padding-95xl) var(--padding-99xl-9)
    var(--padding-773xl);
  box-sizing: border-box;
  gap: var(--gap-mid);
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--alegria-form);
}
.robert-mnagers1 {
  margin: 0;
  font-weight: 500;
}
.p1 {
  margin: 0;
  font-size: var(--font-size-6xl);
}
.robert-mnagers-02-03-04-05-06-container1 {
  height: 117px;
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
}
.brand-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  min-width: 389px;
  max-width: 100%;
}
.nos-services1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 101px;
}
.link-sets {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.prendre-rendez-vous1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.auto-diagnostic1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 125px;
}
.diagnostics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.groupe-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.propos1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 70px;
}
.propos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.nos-engagements1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.nos-engagements-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.pourquoi-rparer1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.pourquoi-rparer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.groupe-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.questions-frquentes1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.questions-frquentes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.donner-mon-appareil1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.donner-mon-appareil-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.nous-contacter1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 116px;
}
.nous-contacter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.footer-directions1,
.groupe-31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.footer-directions1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-35xl);
}
.brand-name-parent,
.footer-content1,
.links {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.links {
  width: 638px;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 638px;
  text-align: left;
  font-size: var(--small-text-size);
  font-family: var(--small-text);
}
.brand-name-parent,
.footer-content1 {
  flex-direction: row;
}
.brand-name-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-content1 {
  width: 1225px;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl);
  box-sizing: border-box;
}
.base-line-icon1 {
  align-self: stretch;
  height: 35.3px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.buttons-icon4,
.buttons-icon5,
.buttons-icon6,
.buttons-icon7 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
  min-height: 40px;
}
.dpannage1,
.footer1,
.social-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-icons {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.dpannage1,
.footer1 {
  overflow: hidden;
  flex-direction: column;
}
.footer1 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-6xl) var(--br-6xl);
  background: linear-gradient(
      rgba(217, 211, 211, 0.14),
      rgba(217, 211, 211, 0.14)
    ),
    #7baeed;
  padding: var(--padding-46xl) var(--padding-22xl) var(--padding-24xl);
  box-sizing: border-box;
  gap: var(--gap-9xs-5);
  max-width: 100%;
  z-index: 3;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-khand);
}
.dpannage1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-div {
    padding-left: var(--padding-234xl);
    padding-right: var(--padding-234xl);
    box-sizing: border-box;
  }
  .desktop-51 {
    padding: var(--padding-109xl) var(--padding-38xl) var(--padding-58xl)
      var(--padding-377xl);
    box-sizing: border-box;
  }
  .brand-name,
  .links {
    flex: 1;
  }
  .brand-name-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .besoin-daide-pour-container {
    font-size: var(--font-size-10xl);
    line-height: 40px;
  }
  .content-container {
    padding-top: var(--padding-13xl);
    box-sizing: border-box;
  }
  .contactez-nous1 {
    font-size: var(--font-size-32xl);
    line-height: 77px;
  }
  .fond-arrire1 {
    padding-top: var(--padding-10xl);
    padding-bottom: var(--padding-98xl);
    box-sizing: border-box;
  }
  .info {
    flex: 1;
  }
  .contact1 {
    flex-wrap: wrap;
  }
  .une-entreprise-certifie1 {
    font-size: var(--font-size-21xl);
    line-height: 60px;
  }
  .links {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .frame-div {
    gap: var(--gap-6xl);
    padding-left: var(--padding-107xl);
    padding-right: var(--padding-107xl);
    box-sizing: border-box;
  }
  .hero-accueil1,
  .wrapper {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .wrapper {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    max-width: calc(100% - 20px);
  }
  .content-container {
    padding-top: var(--padding-2xl);
    box-sizing: border-box;
  }
  .fond-arrire1,
  .info {
    box-sizing: border-box;
    min-width: 100%;
  }
  .fond-arrire1 {
    gap: var(--gap-base);
    padding: var(--padding-xl) var(--padding-19xl) var(--padding-57xl);
  }
  .info {
    padding-bottom: var(--padding-109xl);
  }
  .frame-parent4 {
    gap: var(--gap-37xl);
  }
  .desktop-51 {
    padding: var(--padding-64xl) var(--padding-9xl) var(--padding-31xl)
      var(--padding-179xl);
    box-sizing: border-box;
  }
  .brand-name {
    min-width: 100%;
  }
  .footer-directions1 {
    flex-wrap: wrap;
    gap: var(--gap-8xl);
  }
}
@media screen and (max-width: 450px) {
  .buttons {
    gap: var(--gap-3xl);
  }
  .frame-div {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .besoin-daide-pour-container {
    font-size: 22px;
    line-height: 30px;
  }
  .title {
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
  .contactez-nous1 {
    font-size: var(--font-size-19xl);
    line-height: 58px;
  }
  .content1,
  .e-mail1,
  .email11,
  .email13,
  .email8,
  .name3 {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .une-entreprise-certifie1 {
    font-size: var(--font-size-11xl);
    line-height: 45px;
  }
  .frame-parent4 {
    gap: var(--gap-9xl);
  }
  .desktop-51 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .robert-mnagers-02-03-04-05-06-container1 {
    font-size: var(--alegria-form-size);
    line-height: 77px;
  }
}
