.image-13-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.background-image,
.background-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.background-image {
  align-self: stretch;
  flex: 1;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.background-image-wrapper {
  margin-left: -521px;
  height: 166px;
  width: 470px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-2);
  box-sizing: border-box;
  max-width: 129%;
}
.dpannage {
  text-decoration: none;
  height: 0;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
}
.bouton-dpannage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-mini);
  cursor: pointer;
}
.rparations {
  text-decoration: none;
  height: 0;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
}
.bouton-tutoriels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
}
.tutoriels {
  text-decoration: none;
  height: 0;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 115px;
}
.bouton-rparations {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xs);
}
.recyclage {
  text-decoration: none;
  height: 0;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
}
.bouton-recyclage,
.menu-buttons {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bouton-recyclage {
  padding: var(--padding-xl) var(--padding-3xs);
}
.menu-buttons {
  margin: 0;
  gap: var(--gap-25xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-khand);
}
.background-header,
.bandeau-accueil,
.frame-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.bandeau-accueil {
  width: 892px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-55xl) var(--padding-7xl) var(--padding-45xl);
  max-width: 245%;
}
.background-header,
.frame-parent {
  max-width: 100%;
}
.frame-parent {
  width: 1379px;
  align-items: flex-end;
  padding: 0 var(--padding-488xl);
  gap: var(--gap-32xl);
}
.background-header {
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-lightskyblue);
  align-items: flex-start;
  padding: 0 var(--padding-11xl);
}
.hero-accueil,
.image-11-icon {
  align-self: stretch;
  overflow: hidden;
}
.image-11-icon {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.hero-accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-13xl) 0;
}
.desktop-1,
.slides-box-icon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.desktop-1 {
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.slides-box-icon {
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: contain;
}
.arrow-left-icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.click-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.dot-indictaor-1 {
  height: 16px;
  width: 16px;
  position: relative;
}
.dot-indictaor-2,
.dot-indictaor-3,
.dot-indictaor-4 {
  height: 12px;
  width: 12px;
  position: relative;
}
.slide-indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-3xs);
}
.arrow-right-icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.carousel1,
.click-area1,
.slides-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.carousel1,
.slides-navigation {
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.carousel1 {
  height: 738px;
  width: 1250px;
  margin: 0 !important;
  position: absolute;
  top: 161.1px;
  left: 95px;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.desktop-2,
.ils-nous-ont {
  align-self: stretch;
  position: relative;
}
.desktop-2 {
  height: 1024px;
  background-color: var(--color-goldenrod);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-142xl-1) 0 var(--padding-105xl-9);
  box-sizing: border-box;
  max-width: 100%;
}
.ils-nous-ont {
  margin: 0;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.ils-nous-ont-fait-confiance-wrapper {
  width: 1030px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.image-8-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-8-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.image-7-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.double-image {
  height: 199.7px;
  width: 441px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.image-14-icon {
  height: 390px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.desktop-3,
.single-image,
.triple-image {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.single-image {
  width: 376px;
  flex-direction: row;
  justify-content: center;
}
.desktop-3,
.triple-image {
  align-self: stretch;
  box-sizing: border-box;
}
.triple-image {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 33px 0 var(--padding-15xl);
  gap: var(--gap-xl);
}
.desktop-3 {
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-31xl) 46px;
  gap: var(--gap-25xl);
  text-align: center;
  font-size: 96px;
  color: var(--color-black);
  font-family: var(--alegria-form);
}
.contactez-nous,
.image-19-icon {
  position: relative;
  max-width: 100%;
}
.image-19-icon {
  width: 856px;
  height: 1024.5px;
  object-fit: cover;
  display: none;
}
.contactez-nous {
  margin: 0;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.background {
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  position: absolute;
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.name1 {
  margin-top: -4px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 46px;
}
.name {
  position: absolute;
  top: 19px;
  left: 8px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.nom-input-dark-2 {
  align-self: stretch;
  height: 44px;
  position: relative;
  z-index: 1;
}
.background1 {
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.background1,
.email,
.email1 {
  position: absolute;
}
.email1 {
  margin: 0 !important;
  right: -24px;
  bottom: -12px;
  line-height: 150%;
  display: inline-block;
  min-width: 68px;
}
.email {
  top: 21px;
  left: 8px;
  width: 44px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.prnom-input-dark-2 {
  align-self: stretch;
  height: 44px;
  position: relative;
  z-index: 1;
}
.background2 {
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.background2,
.e-mail,
.email2 {
  position: absolute;
}
.e-mail {
  margin: 0 !important;
  right: -45px;
  bottom: -12px;
  line-height: 150%;
  display: inline-block;
  min-width: 89px;
}
.email2 {
  top: 21px;
  left: 8px;
  width: 44px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.tlphone-input-dark-3 {
  align-self: stretch;
  height: 44px;
  position: relative;
  z-index: 1;
}
.background3 {
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.background3,
.email3,
.email4 {
  position: absolute;
}
.email4 {
  margin: 0 !important;
  right: -14px;
  bottom: -12px;
  line-height: 150%;
  display: inline-block;
  min-width: 58px;
}
.email3 {
  top: 21px;
  left: 8px;
  width: 44px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.email-input-dark-4 {
  align-self: stretch;
  height: 44px;
  position: relative;
  z-index: 1;
}
.background4 {
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 77.27%;
  width: 100%;
  top: 22.73%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.background4,
.email5,
.email6 {
  position: absolute;
}
.email6 {
  margin: 0 !important;
  right: -12px;
  bottom: -12px;
  line-height: 150%;
  display: inline-block;
  min-width: 56px;
}
.email5 {
  top: 21px;
  left: 8px;
  width: 44px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.socit-input-dark-5 {
  height: 44px;
}
.content,
.message-input-dark-2,
.socit-input-dark-5 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.message-input-dark-2 {
  border: 0;
  background-color: var(--color-white);
  height: 150px;
  width: auto;
  outline: 0;
  border-bottom: 1px solid var(--color-white);
  box-sizing: border-box;
  padding: var(--padding-lg) var(--padding-5xs);
  font-family: var(--alegria-form);
  font-size: var(--alegria-form-size);
  color: var(--color-black);
}
.content {
  line-height: 150%;
  color: var(--color-white);
  text-align: right;
}
.frame-input {
  margin: 0;
  height: 17px;
  width: 16px;
}
.minscrire-la {
  position: relative;
}
.newsletter-signup-dark {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0;
  gap: var(--gap-5xs);
  z-index: 1;
}
.submit-background-icon {
  height: 37px;
  width: 109px;
  position: relative;
  border-radius: var(--br-3xs);
  display: none;
}
.submit1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
  z-index: 1;
}
.submit,
.submit-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.submit {
  border-radius: var(--br-3xs);
  background-color: var(--color-lightskyblue);
  padding: var(--padding-9xs) var(--padding-15xl) var(--padding-10xs);
  white-space: nowrap;
  z-index: 1;
}
.submit-wrapper {
  padding: 0 var(--padding-10xs);
  text-align: center;
  font-size: var(--alegria-form-size);
}
.contact-form,
.fond-arrire,
.newsletter-signup-dark-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsletter-signup-dark-parent {
  gap: var(--gap-mini-5);
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.contact-form,
.fond-arrire {
  max-width: 100%;
}
.contact-form {
  width: 430px;
  gap: var(--gap-8xl-5);
  font-size: var(--alegria-form-size);
  color: var(--color-black);
}
.fond-arrire {
  flex: 1;
  padding: var(--padding-26xl) var(--padding-58xl) var(--padding-160xl-5);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  background-image: url(./public/image-19@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 556px;
}
.introduction {
  align-self: stretch;
  position: relative;
  font-family: var(--small-text);
}
.maps-icon {
  height: 174px;
  width: 416px;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.company-name,
.w-36th-st {
  position: relative;
  display: inline-block;
}
.company-name {
  font-size: var(--font-size-xs);
  font-weight: 600;
  color: var(--accent-color);
  min-width: 100px;
}
.w-36th-st {
  min-width: 74px;
}
.address-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.ny-10018 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 45px;
}
.address-details1,
.location,
.text {
  display: flex;
  align-items: flex-start;
}
.address-details1 {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.location,
.text {
  border-radius: var(--br-3xs);
}
.text {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-8xs)
    var(--padding-6xs);
  gap: var(--gap-12xs);
  z-index: 1;
}
.location {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-82xl);
  box-sizing: border-box;
  background-image: url(./public/maps@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  font-size: var(--font-size-2xs);
}
.location-icon {
  height: 24px;
  width: 20px;
  min-height: 24px;
}
.location-icon,
.location-text {
  position: relative;
}
.contact-info,
.location-icon-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.location-icon-parent {
  gap: var(--gap-mid);
}
.contact-info {
  padding: 0 var(--padding-12xs);
}
.phone-icon {
  width: 22px;
  height: 22px;
  position: relative;
}
.phone-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.phone-number {
  position: relative;
  display: inline-block;
  min-width: 102px;
}
.contact-info1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.email-icon {
  width: 22px;
  height: 17.6px;
  position: relative;
}
.email-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.email-text {
  position: relative;
  white-space: nowrap;
}
.email-icon-container,
.frame-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  gap: var(--gap-base);
}
.email-icon-container {
  align-self: stretch;
}
.instagram-icon,
.twitter-icon {
  height: 18.8px;
  width: 18.8px;
  position: relative;
}
.twitter-icon {
  width: 20.9px;
  height: 17px;
}
.twitter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.facebook-icon {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.youtube-icon {
  width: 20px;
  height: 14px;
  position: relative;
}
.social-media-icons,
.youtube-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.social-media-icons {
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-smi);
}
.contact-details,
.contact-details1,
.introduction-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.contact-details,
.introduction-parent {
  align-items: flex-start;
  gap: var(--gap-xs);
}
.introduction-parent {
  gap: var(--gap-9xl);
  max-width: 100%;
}
.contact,
.contact-inner {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.contact-inner {
  width: 416px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-178xl);
  min-width: 416px;
  min-height: 600px;
  font-size: var(--small-text-size);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.contact {
  width: 1310px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--alegria-form);
}
.image-17-icon {
  height: 1024px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.certified-image {
  margin-left: -802px;
  margin-bottom: -128.9px;
  width: 785px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  max-width: 148%;
  flex-shrink: 0;
}
.une-entreprise-certifie {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.une-entreprise-certifie-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.image-16-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.certified-logo {
  align-self: stretch;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.desktop-5,
.frame-container {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-container {
  width: 533.2px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-94xl);
}
.desktop-5 {
  align-self: stretch;
  height: 1024px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-178xl-1) var(--padding-95xl) var(--padding-99xl-9)
    var(--padding-773xl);
  box-sizing: border-box;
  gap: var(--gap-mid);
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--alegria-form);
}
.robert-mnagers {
  margin: 0;
  font-weight: 500;
}
.p {
  margin: 0;
  font-size: var(--font-size-6xl);
}
.robert-mnagers-02-03-04-05-06-container {
  height: 117px;
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
}
.robert-mnagers-02-03-04-05-06-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  min-width: 389px;
  max-width: 100%;
}
.nos-services {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 101px;
}
.link-rows-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.prendre-rendez-vous {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.link-rows-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.auto-diagnostic {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 125px;
}
.link-rows-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.groupe-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.propos {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 70px;
}
.propos-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.nos-engagements {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.nos-engagements-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.pourquoi-rparer {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.pourquoi-rparer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.groupe-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.questions-frquentes {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.questions-frquentes-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.donner-mon-appareil {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.donner-mon-appareil-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.nous-contacter {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 116px;
}
.nous-contacter-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.footer-directions,
.groupe-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.footer-directions {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-35xl);
}
.footer-directions-wrapper {
  width: 638px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 638px;
  max-width: 100%;
  text-align: left;
  font-size: var(--small-text-size);
  font-family: var(--small-text);
}
.footer-container,
.footer-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.footer-container {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-content {
  width: 1225px;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl);
  box-sizing: border-box;
}
.base-line-icon {
  align-self: stretch;
  height: 35.3px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.buttons-icon,
.buttons-icon1,
.buttons-icon2,
.buttons-icon3 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
  min-height: 40px;
}
.buttons-icon-parent,
.footer,
.index {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttons-icon-parent {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.footer,
.index {
  overflow: hidden;
  flex-direction: column;
}
.footer {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-6xl) var(--br-6xl);
  background: linear-gradient(
      rgba(217, 211, 211, 0.14),
      rgba(217, 211, 211, 0.14)
    ),
    #7baeed;
  padding: var(--padding-46xl) var(--padding-22xl) var(--padding-24xl);
  box-sizing: border-box;
  gap: var(--gap-9xs-5);
  max-width: 100%;
  z-index: 3;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-khand);
}
.index {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-parent {
    padding-left: var(--padding-234xl);
    padding-right: var(--padding-234xl);
    box-sizing: border-box;
  }
  .desktop-5 {
    padding: var(--padding-109xl) var(--padding-38xl) var(--padding-58xl)
      var(--padding-377xl);
    box-sizing: border-box;
  }
  .footer-directions-wrapper,
  .robert-mnagers-02-03-04-05-06-wrapper {
    flex: 1;
  }
  .footer-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .ils-nous-ont {
    font-size: 48px;
    line-height: 86px;
  }
  .desktop-3 {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .contactez-nous {
    font-size: var(--font-size-32xl);
    line-height: 77px;
  }
  .fond-arrire {
    padding-top: var(--padding-10xl);
    padding-bottom: var(--padding-98xl);
    box-sizing: border-box;
  }
  .contact-inner {
    flex: 1;
  }
  .contact {
    flex-wrap: wrap;
  }
  .une-entreprise-certifie {
    font-size: var(--font-size-21xl);
    line-height: 60px;
  }
  .footer-directions-wrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent {
    gap: var(--gap-6xl);
    padding-left: var(--padding-107xl);
    padding-right: var(--padding-107xl);
    box-sizing: border-box;
  }
  .hero-accueil {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .desktop-3 {
    gap: var(--gap-3xl);
    padding: var(--padding-2xl) 23px;
    box-sizing: border-box;
  }
  .contact-inner,
  .fond-arrire {
    box-sizing: border-box;
    min-width: 100%;
  }
  .fond-arrire {
    gap: var(--gap-base);
    padding: var(--padding-xl) var(--padding-19xl) var(--padding-57xl);
  }
  .contact-inner {
    padding-bottom: var(--padding-109xl);
  }
  .frame-container {
    gap: var(--gap-37xl);
  }
  .desktop-5 {
    padding: var(--padding-64xl) var(--padding-9xl) var(--padding-31xl)
      var(--padding-179xl);
    box-sizing: border-box;
  }
  .robert-mnagers-02-03-04-05-06-wrapper {
    min-width: 100%;
  }
  .footer-directions {
    flex-wrap: wrap;
    gap: var(--gap-8xl);
  }
}
@media screen and (max-width: 450px) {
  .menu-buttons {
    gap: var(--gap-3xl);
  }
  .frame-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .contactez-nous,
  .ils-nous-ont {
    font-size: var(--font-size-10xl);
    line-height: 58px;
  }
  .contactez-nous {
    font-size: var(--font-size-19xl);
  }
  .content,
  .e-mail,
  .email1,
  .email4,
  .email6,
  .name1 {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .une-entreprise-certifie {
    font-size: var(--font-size-11xl);
    line-height: 45px;
  }
  .frame-container {
    gap: var(--gap-9xl);
  }
  .desktop-5 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .robert-mnagers-02-03-04-05-06-container {
    font-size: var(--alegria-form-size);
    line-height: 77px;
  }
}
